.categoryPageWrapper {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoryWrapper {
  background-color: white;
  padding-top: 44px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.categoryDetailWrapper {
  width: 90%;
  margin: 0 auto;
  /* justify-content: center; */

}
.categoryTitleWrapper {
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;

}

.categoryTitleWrapper p {
  color: rgb(104, 117, 101);
  background-color: rgb(191, 220, 187);
  border-radius: 30px;
  padding: 10px 40px;
}