.ItemCard {
  margin: 0 3px;
  width: calc(100% - 6px);
  display: inline-block;
  padding-bottom: 50px;
  position: relative;
}

.cover {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  z-index: 1;
  background-color: rgba(69, 63, 63, .3);
}

.cover > button {
  padding: 8px 30px;
  color: white;
  background-color: rgba(113, 106, 106, 0.5);
  border: 1px solid white;
}

.cover > button:hover { 
  cursor: pointer;
}

.img {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* z-index: 1; */
  margin: 0 auto;
  cursor: pointer;
  aspect-ratio: 1/1 ;
  object-fit: cover;
}

.ItemCard:hover  .cover {
  display: flex;
}



.info {
  padding: 10px 5px;
  position: relative;
  margin: 0;
}

.price {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.name {
  height: inherit;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 55px;
}

.brand {
  color: #A29388;
}

.cart {
  display: flex;
  justify-content: end;
  border-top: 1px solid #CFC6BC;
  padding-top: 20px;
  margin-top: 10px;
}

.cart .review {
  flex-grow: 1;
  text-align: left;
  font-size: .8em;
  color: #9E9087;
}

.cart button {
  font-size: 1.2em;
  outline: none;
  border: 0;
  background-color: transparent;
}

.cart button:hover {
  cursor: pointer;
}



