.detailPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: white;
}

.itemDetailWrapper {
  padding: 10px 40px;

}

.detailWrapper {
  padding-top: 80px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detailTop {
  border-radius: 10px;
  border: 1px solid rgb(237, 232, 232);
  padding: 20px;
  margin: 0 80px;
  justify-content: space-around;
  /* gap: 60px; */
}

.imgWrapper {
  background-color: aliceblue;
  width: 40vw; 
  height: 40vw;
  aspect-ratio: 1/1;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.itemInfoWrapper {
  width: 40%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.itemInfoWrapper .productTitle {
  margin-bottom: 4px;
  font-size: 40px;
}

.itemInfoWrapper .productPrice {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttonsWrapper {
  display: flex;
  gap: 5px;
  justify-content: start;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.buttonsWrapper button:first-child {
  flex-grow: 1;
}

@keyframes heartClickAnimation {
  0% {
    transform: scale(1);

  }

  30% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

.heart {
  animation-name: heartClickAnimation;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.buttonsWrapper button {
  flex-grow: 300;
  padding: 10px 20px;
  border: .5px solid rgb(205, 205, 205);
  background-color: #F7F3EB
  
}

.buttonsWrapper button:last-child {
  color: white;
  background-color: #9e7470;
}



.detailBottom {
  border-radius: 10px;
  /* border-radius: 20px; */
  /* border: 1px solid black; */
  background-color: rgb(242, 238, 233);
  padding: 40px;
  margin: 0 40px;
  justify-content: center;
}



/* Review 작성 */
.reviews {
  background-color: white;
  padding: 10px 40px;
}

.reviews > .reviewTitle {
  font-size: 30px;
  padding: 10px 10px;
}

.reviewWriteWrapper {
  
  padding: 10px;
}

.reviewWriteWrapper .rating {
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: rgb(200, 223, 203);
  border-radius: 10px;
  font-size: 1.2em;
}

.reviewWriteWrapper .star {
  vertical-align: 10%;
}

.errorMsg {
  display: inline;
  color: red;
  padding: 5px;
  font-size: .9em;
  
} 
