.ItemCartPageWrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.ItemCartWrapper {
  padding: 60px;
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCartWrapper .ItemCartSub {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ItemCartSub p {
  padding: 0 60px;
}

.ItemCartTitle {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.ItemCart {
  width: 80vw;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.buttonWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  gap: 20px;
  border-top: 1px solid gray;
}

.buttonWrap button {
  
}

.pricesWrapper {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0;
  text-align: right;
}