.loginPage {
  position:absolute;
  z-index: 4;
  background-color: transparent;
  overflow: hidden;
  /* height: 100%;
  width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* backdrop-filter: brightness(30%); */
}


.loginForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 40px 40px 40px 40px;
  padding-top: 60px;
  border: 1px solid white;
  border-radius: 20px;

  animation-name: modalFade;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  z-index: 5;
  transition: .3s;
}

.loginForm .field {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #3B3B3B;
  border-radius: 20px;
} 

.loginForm div > small {
  font-size:medium;
  padding-bottom: 20px;
}

.login {
  padding-left: 60px;
  padding-right: 60px;
  width: 360px;
  gap: 10px;

}

.register {
  padding-left: 60px;
  padding-right: 60px;
  width: 400px;
  gap: 10px;
  
}

.profileImg {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  /* justify-content: center; */
}

.profileImg img {
  border-radius: 50%;
  width: 25%;
  background-color: #F2f2f2;
  /* padding: 10px; */
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto;
}

.profileImg img:hover {
  cursor: pointer;
}

.profileImgInput {
  flex-grow: 1;
}

.profileShowBtn {
  flex-grow: 3;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.loginPage form label.labelFont {
  text-align: left;
}

.loginPage label {
  font-size: .85em;
}


.btn_outline_lightcoral {
  --bs-btn-color: #ba757c;
  --bs-btn-border-color: #ba757c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ba757c;
  --bs-btn-hover-border-color: #ba757c;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ba757c;
  --bs-btn-active-border-color: #ba757c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ba757c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ba757c;
  --bs-gradient: none;
}

.btn_outline_lightgreen {
  --bs-btn-color: #668b5b;
  --bs-btn-border-color: #668b5b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #668b5b;
  --bs-btn-hover-border-color: #668b5b;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #668b5b;
  --bs-btn-active-bg: #668b5b;
  --bs-btn-active-border-color: #668b5b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #668b5b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #668b5b;
  --bs-gradient: none;
}

@keyframes modalFade {
  0% {
    opacity: 0;
    top: 47%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

div small.errorMsg {
  font-size: 12px;
  color: red;
}