.loginPage {
  position:absolute;
  z-index: 4;
  background-color: transparent;
  overflow: hidden;
  /* height: 100%;
  width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* backdrop-filter: brightness(30%); */
}


.loginForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 80px 80px 60px 80px;
  border: 1px solid white;
  border-radius: 20px;

  animation-name: modalFade;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  z-index: 5;
}

.loginForm .field {
  padding: 10px 20px;
  outline: none;
  border: 1px solid #3B3B3B;
  border-radius: 20px;
} 

.loginForm div > small {
  font-size:medium;
  padding-bottom: 20px;
}

.register {
  padding-left: 100px;
  padding-right: 100px;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

@keyframes modalFade {
  0% {
    opacity: 0;
    top: 47%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}