.myPage {
  background-color: white;
  padding-top: 50px;
  min-height: 100vh;
}

.mytop{
  background-color: rgb(104, 117, 101);
}

.myPageDetail {
  width: 80%;
  /* height: 800px; */
  padding-bottom: 100px;
}

.top_info {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 40px 0;
}

.left_contents {
  display: flex;
  justify-content: end;
  width: 35%;
  border-right: 1px solid #bfbfbf;
  padding-right: 20px;
}

.top_info .left_contents .info .name {
  font-size: 30px;
  font-weight: 600;
  overflow: hidden;
  padding-right: 40px;
  margin: 10px 0 15px 40px;
  color: white;
}

.center_contents {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* height: 100%; */
  text-align: left;
  font-size: 16px;
  padding-left: 40px;
  justify-content: space-around;
  align-items: start;
}

.center_contents div > div {
  width: 80px;
}

.right_contents {
  display: block;
  width: 35%;
  border-left: 1px solid #bfbfbf;
  padding-left: 40px;
}


.profile_pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #d9d9d9;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.profile_pic img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.count_coupon{
  display: block;
  color: lightgray;
}

.coupon_b{
  display: block;
  margin-top: 10%;
  
}

.tb {
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.tb th {
  text-align: center;
  font-weight: bold;
}

.tb p {
  text-align: left;
}

.orderLeft {
  /* flex-grow: 1; */
  width: 10%;
}

.orderRight {
  width: 90%;
}

.orderBox {
  justify-content: space-between;
}
