:root {
    --season_color_01: #F6F4EE;
    --season_color_01_dim: #F6F4EECF;
    --season_color_02: #3B3B3B;
    --season_color_03: #C49A91;
    --season_color_04: #877B73;
    --season_color_05: #757575;
    --season_color_06: #9E9087;
    --season_color_07: #FFFEFA;
    --season_color_08: #F7F3EB;
    --season_color_09: #CFC6BC;
    --season_color_10: #A29388;
    --season_color_11: #9e7470;
    --inner_width: 1416px;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'SUITE-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit
}

.App {
  background-color: white;
}

.bold {
  font-weight: bold;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}


body {
  background-color: #9e7470;
}

body li:hover {
  cursor:pointer;
}

nav.navbar {
  display: flex;
  color: white;
  font-size: 0.75em;
  background-color: transparent;
  position: absolute;
  width: 100vw;
  text-wrap: nowrap;
  z-index: 3;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding: 12px 0;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
}

nav.navbar ul li {
  display: inline-block;
  padding: 5px 8px;
}

nav.navbar span {
  display: flex;
  padding-right: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

nav.fixed {
  position: fixed;
  top: 0;
  background-color: #F6F4EE;
  color: #A29388;
}


nav.navbar li > input[type="search"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  line-height: 1.2em;
  font-size: 0.95em;

}

nav.fixed li > input[type="search"]{
  border-bottom: 1px solid #A29388;
  color: black;
}

nav.navbar li > input[type="search"]:focus {
  outline: none;

}




div.scrollSpy {
  position: fixed;
  top: 0;
  height: 1px;
  background: #F6F4EE;
  width: 100vw;
}

div.scrollSpy span {
  height: 1px;
  padding: 0;
  background-color: rgb(42, 114, 71);
  width: 0%;
}


img.header-img {
  /* min-width: 1400px; */
  width: 100vw
}

/* Intro Style */
.intro {
  padding: 40px 0;
  text-align: center;
  font-size: 1em;
}

.intro p {
  font-size: .8em;
}

.introPicWrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.introPicWrap img {
  border-radius: 20px;
  width: 22%;
}

/* Main Wrap Styles */
.mainWrap {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
}

/* Item Card Styles */
.ItemList {
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5열 */
  grid-template-rows: auto;
}

.moreBtnWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.moreBtn {
  padding: 16px 50px;
  border-radius: 0;
  border: 1px solid var(--season_color_11);
  color: var(--season_color_11);
  background-color: transparent;
  margin: 0 auto;
}

.moreBtn .arrow {
  vertical-align: top;
}

.moreBtn:hover {
  cursor: pointer;
  transition: .2s ease-in-out;
  color: white;
  background-color: var(--season_color_11);
}

/* Footer Styles */

#footer {
  margin-top: 100px !important;
  background-color: white;
}

.footer-top {
  display: flex;
  border-top: 1px solid #f2f2f2;
  padding-top: 26px;
}

.footer-top > div.footer-block {
  width: calc(100% / 3);
}

.footer-block > div {
  margin-bottom: 20px;
  padding-left: 10px;
}

.footer-block p {
  font-size: .7em;
  color: #999999;
  margin-bottom: 9px;
}

.copyright {
  color: #c8c8c8;
  margin-top: 19px;
}

.footer-bottom {
  border-top: 1px solid #f2f2f2;
}

.footer-bottom ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-bottom ul > * {
  display: inline-block;
  margin-right: 50px;
  padding: 16px 14px;
  color: black;
  font-size: .8em;
}


/* Reactive 반응형 Styles */

@media (max-width: 1024px){
  .ItemList {
    grid-template-columns: repeat(4, 1fr); /* 5열 */
  }
}


/* Reactive 반응형 Styles */

@media (max-width: 512px){
  .ItemList {
    grid-template-columns: repeat(2, 1fr); /* 5열 */
  }
}
